<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWFKTx7gwfU_PiGgPnutmArZi9xNpfW1E</string>
	<key>GCM_SENDER_ID</key>
	<string>323552791058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mytickets</string>
	<key>PROJECT_ID</key>
	<string>m-y-tickets-ranimk</string>
	<key>STORAGE_BUCKET</key>
	<string>m-y-tickets-ranimk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323552791058:ios:c28f196bd85fa240a766cb</string>
</dict>
</plist>